// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Mon Nov 25 17:31:23 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/es4/finalproj/fruitsalad/mypll/rtl/mypll.v"
// file 3 "z:/es4/finalproj/fruitsalad/source/impl_1/fruit_rom.vhd"
// file 4 "z:/es4/finalproj/fruitsalad/source/impl_1/nesclk_top.vhd"
// file 5 "z:/es4/finalproj/fruitsalad/source/impl_1/pattern_gen.vhd"
// file 6 "z:/es4/finalproj/fruitsalad/source/impl_1/pre_drop_control.vhd"
// file 7 "z:/es4/finalproj/fruitsalad/source/impl_1/shift8.vhd"
// file 8 "z:/es4/finalproj/fruitsalad/source/impl_1/top.vhd"
// file 9 "z:/es4/finalproj/fruitsalad/source/impl_1/update_color.vhd"
// file 10 "z:/es4/finalproj/fruitsalad/source/impl_1/vga.vhd"
// file 11 "z:/es4/finalproj/fruitsalad/source/impl_1/vga_controller.vhd"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 26 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 27 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 28 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 29 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 30 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 31 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 32 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 40 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 41 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 42 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 43 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 44 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 57 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 58 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 59 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 60 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 61 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module vga_controller
//

module vga_controller (input button, input external_osc, output [5:0]RGB, 
            output HSYNC, output VSYNC, output ext_osc_test);
    
    (* is_clock=1, lineinfo="@11(8[3],8[15])" *) wire external_osc_c;
    (* is_clock=1, lineinfo="@11(12[3],12[15])" *) wire ext_osc_test_c;
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    
    wire button_c, RGB_c_5, RGB_c_4, RGB_c_3, RGB_c_2, RGB_c_1, 
        RGB_c_0, HSYNC_c, VSYNC_c;
    (* lineinfo="@11(25[9],25[12])" *) wire [9:0]col;
    
    wire GND_net;
    (* lineinfo="@5(27[8],27[22])" *) wire [9:0]fruit_1_tl_col;
    (* lineinfo="@5(28[8],28[19])" *) wire [5:0]fruit_1_RGB;
    (* lineinfo="@5(39[8],39[15])" *) wire [4:0]get_row;
    
    wire VCC_net, n4, n4_adj_139, n965, n5, n11;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[1]  (.I(RGB_c_1), .O(RGB[1]));
    (* lineinfo="@11(77[14],77[25])" *) pattern_gen thirdblock (GND_net, n965, 
            {fruit_1_tl_col}, clk, {col}, {get_row}, {fruit_1_RGB});
    (* lineinfo="@11(8[3],8[15])" *) IB external_osc_pad (.I(external_osc), 
            .O(external_osc_c));
    (* lineinfo="@11(7[3],7[9])" *) IB button_pad (.I(button), .O(button_c));
    (* lineinfo="@11(12[3],12[15])" *) OB ext_osc_test_pad (.I(ext_osc_test_c), 
            .O(ext_osc_test));
    (* lineinfo="@11(11[3],11[8])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@11(10[3],10[8])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[2]  (.I(RGB_c_2), .O(RGB[2]));
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[3]  (.I(RGB_c_3), .O(RGB[3]));
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[0]  (.I(RGB_c_0), .O(RGB[0]));
    (* lut_function="(A+(B))", lineinfo="@5(27[8],27[22])" *) LUT4 i1_2_lut (.A(fruit_1_tl_col[3]), 
            .B(fruit_1_tl_col[4]), .Z(n4_adj_139));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[4]  (.I(RGB_c_4), .O(RGB[4]));
    (* lut_function="(A (B (C)))", lineinfo="@5(27[8],27[22])" *) LUT4 i2_3_lut (.A(fruit_1_tl_col[1]), 
            .B(fruit_1_tl_col[0]), .C(fruit_1_tl_col[2]), .Z(n5));
    defparam i2_3_lut.INIT = "0x8080";
    (* lineinfo="@11(9[3],9[6])" *) OB \RGB_pad[5]  (.I(RGB_c_5), .O(RGB[5]));
    (* lineinfo="@11(67[15],67[18])" *) vga secondblock (VSYNC_c, GND_net, 
            {col}, clk, HSYNC_c, {fruit_1_RGB}, RGB_c_1, RGB_c_5, 
            RGB_c_4, RGB_c_0, RGB_c_3, RGB_c_2, {get_row});
    (* lut_function="(A+(B))", lineinfo="@5(27[8],27[22])" *) LUT4 i1_2_lut_adj_31 (.A(fruit_1_tl_col[8]), 
            .B(fruit_1_tl_col[7]), .Z(n4));
    defparam i1_2_lut_adj_31.INIT = "0xeeee";
    (* lut_function="(A (B (D))+!A (B (C (D))))", lineinfo="@5(27[8],27[22])" *) LUT4 i2_4_lut (.A(n5), 
            .B(fruit_1_tl_col[6]), .C(n4_adj_139), .D(fruit_1_tl_col[5]), 
            .Z(n11));
    defparam i2_4_lut.INIT = "0xc800";
    (* lut_function="(!(A+(B (C+(D)))))" *) LUT4 i958_4_lut (.A(button_c), 
            .B(fruit_1_tl_col[9]), .C(n11), .D(n4), .Z(n965));
    defparam i958_4_lut.INIT = "0x1115";
    (* lineinfo="@11(59[14],59[19])" *) mypll firstblock (GND_net, external_osc_c, 
            ext_osc_test_c, clk);
    VHI i1151 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module pattern_gen
//

module pattern_gen (input GND_net, input n965, output [9:0]fruit_1_tl_col, 
            input clk, input [9:0]col, input [4:0]get_row, output [5:0]fruit_1_RGB);
    
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    
    wire n1490, n729;
    wire [9:0]fruit_1_tl_col_9__N_51;
    
    wire n1493, n731;
    wire [9:0]fruit_col_9__N_63;
    
    wire fruit_col_0__N_114, fruit_col_2__N_105, fruit_col_4__N_95, n737, 
        n1505, fruit_col_6__N_81, n735, n1502, fruit_col_8__N_71, 
        fruit_col_8__N_70, n1448;
    (* lineinfo="@5(38[8],38[17])" *) wire [9:0]fruit_col;
    
    wire fruit_col_6__N_82, n1445, n6, fruit_col_4__N_94, n1442, get_col_0__N_127;
    (* lineinfo="@5(40[8],40[15])" *) wire [4:0]get_col;
    
    wire n1496, n733, n1499, fruit_col_2__N_106, n1439, n1436, VCC_net, 
        GND_net_2;
    
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n965), .C1(fruit_1_tl_col[0]), 
            .D1(n1490), .CI1(n1490), .CO0(n1490), .CO1(n729), .S1(fruit_1_tl_col_9__N_51[0]));
    defparam fruit_1_tl_col_34_add_4_1.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(fruit_1_tl_col[1]), .D0(n729), .CI0(n729), 
            .A1(GND_net), .B1(GND_net), .C1(fruit_1_tl_col[2]), .D1(n1493), 
            .CI1(n1493), .CO0(n1493), .CO1(n731), .S0(fruit_1_tl_col_9__N_51[1]), 
            .S1(fruit_1_tl_col_9__N_51[2]));
    defparam fruit_1_tl_col_34_add_4_3.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@5(48[32],48[45])" *) LUT4 sub_20_inv_0_i2_1_lut (.A(fruit_1_tl_col[1]), 
            .Z(fruit_col_9__N_63[1]));
    defparam sub_20_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@5(64[23],64[37])" *) LUT4 i374_1_lut (.A(fruit_1_tl_col[0]), 
            .Z(fruit_col_0__N_114));
    defparam i374_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_19 (.D(fruit_1_tl_col_9__N_51[8]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[8]));
    defparam fruit_1_tl_col_9__I_19.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_20 (.D(fruit_1_tl_col_9__N_51[7]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[7]));
    defparam fruit_1_tl_col_9__I_20.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_20.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@5(48[32],48[45])" *) LUT4 sub_20_inv_0_i4_1_lut (.A(fruit_1_tl_col[3]), 
            .Z(fruit_col_9__N_63[3]));
    defparam sub_20_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@5(64[23],64[37])" *) LUT4 i395_1_lut (.A(fruit_1_tl_col[2]), 
            .Z(fruit_col_2__N_105));
    defparam i395_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_21 (.D(fruit_1_tl_col_9__N_51[6]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[6]));
    defparam fruit_1_tl_col_9__I_21.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_22 (.D(fruit_1_tl_col_9__N_51[5]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[5]));
    defparam fruit_1_tl_col_9__I_22.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_23 (.D(fruit_1_tl_col_9__N_51[4]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[4]));
    defparam fruit_1_tl_col_9__I_23.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_23.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@5(64[23],64[37])" *) LUT4 i386_1_lut (.A(fruit_1_tl_col[5]), 
            .Z(fruit_col_4__N_95));
    defparam i386_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_24 (.D(fruit_1_tl_col_9__N_51[3]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[3]));
    defparam fruit_1_tl_col_9__I_24.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_25 (.D(fruit_1_tl_col_9__N_51[2]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[2]));
    defparam fruit_1_tl_col_9__I_25.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_26 (.D(fruit_1_tl_col_9__N_51[1]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[1]));
    defparam fruit_1_tl_col_9__I_26.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_26.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@5(48[32],48[45])" *) LUT4 sub_20_inv_0_i5_1_lut (.A(fruit_1_tl_col[4]), 
            .Z(fruit_col_9__N_63[4]));
    defparam sub_20_inv_0_i5_1_lut.INIT = "0x5555";
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_27 (.D(fruit_1_tl_col_9__N_51[0]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[0]));
    defparam fruit_1_tl_col_9__I_27.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_27.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(fruit_1_tl_col[9]), .D0(n737), .CI0(n737), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1505), .CI1(n1505), 
            .CO0(n1505), .S0(fruit_1_tl_col_9__N_51[9]));
    defparam fruit_1_tl_col_34_add_4_11.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@5(48[32],48[45])" *) LUT4 sub_20_inv_0_i8_1_lut (.A(fruit_1_tl_col[7]), 
            .Z(fruit_col_9__N_63[7]));
    defparam sub_20_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@5(64[23],64[37])" *) LUT4 i392_1_lut (.A(fruit_1_tl_col[6]), 
            .Z(fruit_col_6__N_81));
    defparam i392_1_lut.INIT = "0x5555";
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(fruit_1_tl_col[7]), .D0(n735), .CI0(n735), 
            .A1(GND_net), .B1(GND_net), .C1(fruit_1_tl_col[8]), .D1(n1502), 
            .CI1(n1502), .CO0(n1502), .CO1(n737), .S0(fruit_1_tl_col_9__N_51[7]), 
            .S1(fruit_1_tl_col_9__N_51[8]));
    defparam fruit_1_tl_col_34_add_4_9.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@5(64[23],64[37])" *) LUT4 i394_1_lut (.A(fruit_1_tl_col[9]), 
            .Z(fruit_col_8__N_71));
    defparam i394_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@5(48[32],48[45])" *) LUT4 sub_20_inv_0_i9_1_lut (.A(fruit_1_tl_col[8]), 
            .Z(fruit_col_9__N_63[8]));
    defparam sub_20_inv_0_i9_1_lut.INIT = "0x5555";
    (* lineinfo="@5(48[32],48[45])" *) FA2 fruit_col_9__I_0 (.A0(GND_net), 
            .B0(col[8]), .C0(fruit_col_9__N_63[8]), .D0(fruit_col_8__N_70), 
            .CI0(fruit_col_8__N_70), .A1(GND_net), .B1(col[9]), .C1(fruit_col_8__N_71), 
            .D1(n1448), .CI1(n1448), .CO0(n1448), .S0(fruit_col[8]), 
            .S1(fruit_col[9]));
    defparam fruit_col_9__I_0.INIT0 = "0xc33c";
    defparam fruit_col_9__I_0.INIT1 = "0xc33c";
    (* lineinfo="@5(48[32],48[45])" *) FA2 fruit_col_7__I_0 (.A0(GND_net), 
            .B0(col[6]), .C0(fruit_col_6__N_81), .D0(fruit_col_6__N_82), 
            .CI0(fruit_col_6__N_82), .A1(GND_net), .B1(col[7]), .C1(fruit_col_9__N_63[7]), 
            .D1(n1445), .CI1(n1445), .CO0(n1445), .CO1(fruit_col_8__N_70), 
            .S0(fruit_col[6]), .S1(fruit_col[7]));
    defparam fruit_col_7__I_0.INIT0 = "0xc33c";
    defparam fruit_col_7__I_0.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@5(51[40],51[71])" *) LUT4 i1_2_lut (.A(fruit_col[6]), 
            .B(fruit_col[9]), .Z(n6));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lineinfo="@5(48[32],48[45])" *) FA2 fruit_col_5__I_0 (.A0(GND_net), 
            .B0(col[4]), .C0(fruit_col_9__N_63[4]), .D0(fruit_col_4__N_94), 
            .CI0(fruit_col_4__N_94), .A1(GND_net), .B1(col[5]), .C1(fruit_col_4__N_95), 
            .D1(n1442), .CI1(n1442), .CO0(n1442), .CO1(fruit_col_6__N_82), 
            .S0(fruit_col[4]), .S1(fruit_col[5]));
    defparam fruit_col_5__I_0.INIT0 = "0xc33c";
    defparam fruit_col_5__I_0.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@5(51[40],51[71])" *) LUT4 i4_4_lut (.A(fruit_col[8]), 
            .B(fruit_col[7]), .C(fruit_col[5]), .D(n6), .Z(get_col_0__N_127));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))", lineinfo="@5(51[13],51[84])" *) LUT4 fruit_col_4__I_0 (.A(fruit_col[4]), 
            .B(get_col_0__N_127), .Z(get_col[4]));
    defparam fruit_col_4__I_0.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@5(51[13],51[84])" *) LUT4 fruit_col_3__I_0 (.A(fruit_col[3]), 
            .B(get_col_0__N_127), .Z(get_col[3]));
    defparam fruit_col_3__I_0.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@5(51[13],51[84])" *) LUT4 fruit_col_2__I_0 (.A(fruit_col[2]), 
            .B(get_col_0__N_127), .Z(get_col[2]));
    defparam fruit_col_2__I_0.INIT = "0xeeee";
    (* lut_function="(A+(B))", lineinfo="@5(51[13],51[84])" *) LUT4 fruit_col_1__I_0 (.A(fruit_col[1]), 
            .B(get_col_0__N_127), .Z(get_col[1]));
    defparam fruit_col_1__I_0.INIT = "0xeeee";
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(fruit_1_tl_col[3]), .D0(n731), .CI0(n731), 
            .A1(GND_net), .B1(GND_net), .C1(fruit_1_tl_col[4]), .D1(n1496), 
            .CI1(n1496), .CO0(n1496), .CO1(n733), .S0(fruit_1_tl_col_9__N_51[3]), 
            .S1(fruit_1_tl_col_9__N_51[4]));
    defparam fruit_1_tl_col_34_add_4_5.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@5(51[13],51[84])" *) LUT4 fruit_col_0__I_0 (.A(fruit_col[0]), 
            .B(get_col_0__N_127), .Z(get_col[0]));
    defparam fruit_col_0__I_0.INIT = "0xeeee";
    (* lineinfo="@5(64[23],64[37])" *) FA2 fruit_1_tl_col_34_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(fruit_1_tl_col[5]), .D0(n733), .CI0(n733), 
            .A1(GND_net), .B1(GND_net), .C1(fruit_1_tl_col[6]), .D1(n1499), 
            .CI1(n1499), .CO0(n1499), .CO1(n735), .S0(fruit_1_tl_col_9__N_51[5]), 
            .S1(fruit_1_tl_col_9__N_51[6]));
    defparam fruit_1_tl_col_34_add_4_7.INIT0 = "0xc33c";
    defparam fruit_1_tl_col_34_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@5(48[32],48[45])" *) FA2 fruit_col_3__I_0_2 (.A0(GND_net), 
            .B0(col[2]), .C0(fruit_col_2__N_105), .D0(fruit_col_2__N_106), 
            .CI0(fruit_col_2__N_106), .A1(GND_net), .B1(col[3]), .C1(fruit_col_9__N_63[3]), 
            .D1(n1439), .CI1(n1439), .CO0(n1439), .CO1(fruit_col_4__N_94), 
            .S0(fruit_col[2]), .S1(fruit_col[3]));
    defparam fruit_col_3__I_0_2.INIT0 = "0xc33c";
    defparam fruit_col_3__I_0_2.INIT1 = "0xc33c";
    (* lineinfo="@5(48[32],48[45])" *) FA2 fruit_col_1__I_0_2 (.A0(GND_net), 
            .B0(col[0]), .C0(fruit_col_0__N_114), .D0(VCC_net), .A1(GND_net), 
            .B1(col[1]), .C1(fruit_col_9__N_63[1]), .D1(n1436), .CI1(n1436), 
            .CO0(n1436), .CO1(fruit_col_2__N_106), .S0(fruit_col[0]), 
            .S1(fruit_col[1]));
    defparam fruit_col_1__I_0_2.INIT0 = "0xc33c";
    defparam fruit_col_1__I_0_2.INIT1 = "0xc33c";
    (* lineinfo="@5(54[12],54[20])" *) fruitROM fruit_1 ({get_col}, {get_row}, 
            {fruit_1_RGB}, clk, GND_net);
    VLO i2 (.Z(GND_net_2));
    (* syn_use_carry_chain=1, lineinfo="@5(64[23],64[37])" *) FD1P3XZ fruit_1_tl_col_9__I_0 (.D(fruit_1_tl_col_9__N_51[9]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(fruit_1_tl_col[9]));
    defparam fruit_1_tl_col_9__I_0.REGSET = "RESET";
    defparam fruit_1_tl_col_9__I_0.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module fruitROM
//

module fruitROM (input [4:0]get_col, input [4:0]get_row, output [5:0]fruit_1_RGB, 
            input clk, input GND_net);
    
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    
    wire VCC_net, GND_net_2;
    
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\\thirdblock/fruit_1/mux_4", ECO_MEM_SIZE="[6, 1024]", ECO_MEM_BLOCK_SIZE="[4, 1024]", ECO_MEM_BLOCK_POS="[0, 0]" *) EBR_B get_col_0__I_0 (.RADDR10(GND_net_2), 
            .RADDR9(get_row[4]), .RADDR8(get_row[3]), .RADDR7(get_row[2]), 
            .RADDR6(get_row[1]), .RADDR5(get_row[0]), .RADDR4(get_col[4]), 
            .RADDR3(get_col[3]), .RADDR2(get_col[2]), .RADDR1(get_col[1]), 
            .RADDR0(get_col[0]), .WADDR10(GND_net_2), .WADDR9(GND_net), 
            .WADDR8(GND_net), .WADDR7(GND_net), .WADDR6(GND_net), .WADDR5(GND_net), 
            .WADDR4(GND_net), .WADDR3(GND_net), .WADDR2(GND_net), .WADDR1(GND_net), 
            .WADDR0(GND_net), .MASK_N15(GND_net_2), .MASK_N14(GND_net_2), 
            .MASK_N13(GND_net_2), .MASK_N12(GND_net_2), .MASK_N11(GND_net_2), 
            .MASK_N10(GND_net_2), .MASK_N9(GND_net_2), .MASK_N8(GND_net_2), 
            .MASK_N7(GND_net_2), .MASK_N6(GND_net_2), .MASK_N5(GND_net_2), 
            .MASK_N4(GND_net_2), .MASK_N3(GND_net_2), .MASK_N2(GND_net_2), 
            .MASK_N1(GND_net_2), .MASK_N0(GND_net_2), .WDATA15(GND_net_2), 
            .WDATA14(GND_net_2), .WDATA13(GND_net), .WDATA12(GND_net_2), 
            .WDATA11(GND_net_2), .WDATA10(GND_net_2), .WDATA9(GND_net), 
            .WDATA8(GND_net_2), .WDATA7(GND_net_2), .WDATA6(GND_net_2), 
            .WDATA5(GND_net), .WDATA4(GND_net_2), .WDATA3(GND_net_2), 
            .WDATA2(GND_net_2), .WDATA1(GND_net), .WDATA0(GND_net_2), 
            .RCLKE(VCC_net), .RCLK(clk), .RE(VCC_net), .WCLKE(VCC_net), 
            .WCLK(GND_net), .WE(GND_net), .RDATA13(fruit_1_RGB[3]), .RDATA9(fruit_1_RGB[2]), 
            .RDATA5(fruit_1_RGB[1]), .RDATA1(fruit_1_RGB[0]));
    defparam get_col_0__I_0.INIT_0 = "0x0000000000000000000000000000000000000000000099999999999999999999";
    defparam get_col_0__I_0.INIT_1 = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFF999999999999999999990000000000000000";
    defparam get_col_0__I_0.INIT_2 = "0x8888888888888888888888888888888888888888888899999999999999999999";
    defparam get_col_0__I_0.INIT_3 = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFF999999999999999999998888888888888888";
    defparam get_col_0__I_0.INIT_4 = "0x8888888888888888888888888888888888888888888899999999999999999999";
    defparam get_col_0__I_0.INIT_5 = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFF999999999999999999998888888888888888";
    defparam get_col_0__I_0.INIT_6 = "0x8888888888888888888888888888888888888888888899999999999999999999";
    defparam get_col_0__I_0.INIT_7 = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFF999999999999999999998888888888888888";
    defparam get_col_0__I_0.INIT_8 = "0x88888888888888888888888888888888888888888888DDDDDDDDDDDDDDDDDDDD";
    defparam get_col_0__I_0.INIT_9 = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFDDDDDDDDDDDDDDDDDDDD8888888888888888";
    defparam get_col_0__I_0.INIT_A = "0x88888888888888888888888888888888888888888888CCCCCCCCCCCCCCCCCCCC";
    defparam get_col_0__I_0.INIT_B = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFCCCCCCCCCCCCCCCCCCCC8888888888888888";
    defparam get_col_0__I_0.INIT_C = "0x88888888888888888888888888888888888888888888CCCCCCCCCCCCCCCCCCCC";
    defparam get_col_0__I_0.INIT_D = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFCCCCCCCCCCCCCCCCCCCC8888888888888888";
    defparam get_col_0__I_0.INIT_E = "0x88888888888888888888888888888888888888888888CCCCCCCCCCCCCCCCCCCC";
    defparam get_col_0__I_0.INIT_F = "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFCCCCCCCCCCCCCCCCCCCC8888888888888888";
    defparam get_col_0__I_0.DATA_WIDTH_W = "4";
    defparam get_col_0__I_0.DATA_WIDTH_R = "4";
    VLO i2 (.Z(GND_net_2));
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\\thirdblock/fruit_1/mux_4", ECO_MEM_SIZE="[6, 1024]", ECO_MEM_BLOCK_SIZE="[4, 1024]", ECO_MEM_BLOCK_POS="[4, 0]" *) EBR_B get_col_0__I_0_2 (.RADDR10(GND_net_2), 
            .RADDR9(get_row[4]), .RADDR8(get_row[3]), .RADDR7(get_row[2]), 
            .RADDR6(get_row[1]), .RADDR5(get_row[0]), .RADDR4(get_col[4]), 
            .RADDR3(get_col[3]), .RADDR2(get_col[2]), .RADDR1(get_col[1]), 
            .RADDR0(get_col[0]), .WADDR10(GND_net_2), .WADDR9(GND_net), 
            .WADDR8(GND_net), .WADDR7(GND_net), .WADDR6(GND_net), .WADDR5(GND_net), 
            .WADDR4(GND_net), .WADDR3(GND_net), .WADDR2(GND_net), .WADDR1(GND_net), 
            .WADDR0(GND_net), .MASK_N15(GND_net_2), .MASK_N14(GND_net_2), 
            .MASK_N13(GND_net_2), .MASK_N12(GND_net_2), .MASK_N11(GND_net_2), 
            .MASK_N10(GND_net_2), .MASK_N9(GND_net_2), .MASK_N8(GND_net_2), 
            .MASK_N7(GND_net_2), .MASK_N6(GND_net_2), .MASK_N5(GND_net_2), 
            .MASK_N4(GND_net_2), .MASK_N3(GND_net_2), .MASK_N2(GND_net_2), 
            .MASK_N1(GND_net_2), .MASK_N0(GND_net_2), .WDATA15(GND_net_2), 
            .WDATA14(GND_net_2), .WDATA13(GND_net), .WDATA12(GND_net_2), 
            .WDATA11(GND_net_2), .WDATA10(GND_net_2), .WDATA9(GND_net), 
            .WDATA8(GND_net_2), .WDATA7(GND_net_2), .WDATA6(GND_net_2), 
            .WDATA5(GND_net), .WDATA4(GND_net_2), .WDATA3(GND_net_2), 
            .WDATA2(GND_net_2), .WDATA1(GND_net), .WDATA0(GND_net_2), 
            .RCLKE(VCC_net), .RCLK(clk), .RE(VCC_net), .WCLKE(VCC_net), 
            .WCLK(GND_net), .WE(GND_net), .RDATA5(fruit_1_RGB[5]), .RDATA1(fruit_1_RGB[4]));
    defparam get_col_0__I_0_2.INIT_0 = "0x0000000000000000000000000000000000000000000000990099009900990099";
    defparam get_col_0__I_0_2.INIT_1 = "0x00FF00FF00FF00FF00FF00FF00FF009900990099009900990000000000000000";
    defparam get_col_0__I_0_2.INIT_2 = "0x0088008800880088008800880088008800880088008800990099009900990099";
    defparam get_col_0__I_0_2.INIT_3 = "0x00FF00FF00FF00FF00FF00FF00FF009900990099009900990088008800880088";
    defparam get_col_0__I_0_2.INIT_4 = "0x0088008800880088008800880088008800880088008800990099009900990099";
    defparam get_col_0__I_0_2.INIT_5 = "0x00FF00FF00FF00FF00FF00FF00FF009900990099009900990088008800880088";
    defparam get_col_0__I_0_2.INIT_6 = "0x0088008800880088008800880088008800880088008800990099009900990099";
    defparam get_col_0__I_0_2.INIT_7 = "0x00FF00FF00FF00FF00FF00FF00FF009900990099009900990088008800880088";
    defparam get_col_0__I_0_2.INIT_8 = "0x0088008800880088008800880088008800880088008800DD00DD00DD00DD00DD";
    defparam get_col_0__I_0_2.INIT_9 = "0x00FF00FF00FF00FF00FF00FF00FF00DD00DD00DD00DD00DD0088008800880088";
    defparam get_col_0__I_0_2.INIT_A = "0x0088008800880088008800880088008800880088008800CC00CC00CC00CC00CC";
    defparam get_col_0__I_0_2.INIT_B = "0x00FF00FF00FF00FF00FF00FF00FF00CC00CC00CC00CC00CC0088008800880088";
    defparam get_col_0__I_0_2.INIT_C = "0x0088008800880088008800880088008800880088008800CC00CC00CC00CC00CC";
    defparam get_col_0__I_0_2.INIT_D = "0x00FF00FF00FF00FF00FF00FF00FF00CC00CC00CC00CC00CC0088008800880088";
    defparam get_col_0__I_0_2.INIT_E = "0x0088008800880088008800880088008800880088008800CC00CC00CC00CC00CC";
    defparam get_col_0__I_0_2.INIT_F = "0x00FF00FF00FF00FF00FF00FF00FF00CC00CC00CC00CC00CC0088008800880088";
    defparam get_col_0__I_0_2.DATA_WIDTH_W = "4";
    defparam get_col_0__I_0_2.DATA_WIDTH_R = "4";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module vga
//

module vga (output VSYNC_c, input GND_net, output [9:0]col, input clk, 
            output HSYNC_c, input [5:0]fruit_1_RGB, output RGB_c_1, output RGB_c_5, 
            output RGB_c_4, output RGB_c_0, output RGB_c_3, output RGB_c_2, 
            output [4:0]get_row);
    
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    (* lineinfo="@11(24[9],24[12])" *) wire [9:0]row;
    
    wire VSYNC_c_N_136, VSYNC_c_N_138, VSYNC_c_N_137, n759, n1469;
    wire [9:0]col_9__N_31;
    
    wire n746, n1484, n748;
    wire [9:0]row_9__N_1;
    
    wire n757, n1466, col_0__N_50, get_row_4__N_117, row_0__N_30, 
        n755, n1463, n71, n575, n744, n1481, n581, RGB_c_1_N_132, 
        n23, HSYNC_c_N_135, n742, n1478, n740, n1475, RGB_c_1_N_133, 
        n1472, VCC_net, n753, n1460, n751, n1457, n1454, n225, 
        n1487;
    
    (* lut_function="(A+(B))", lineinfo="@10(26[2],38[9])" *) LUT4 i1_2_lut (.A(row[9]), 
            .B(row[4]), .Z(VSYNC_c_N_136));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i845_3_lut (.A(row[1]), .B(row[3]), 
            .C(row[2]), .Z(VSYNC_c_N_138));
    defparam i845_3_lut.INIT = "0xc8c8";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 VSYNC_c_I_0 (.A(VSYNC_c_N_136), 
            .B(VSYNC_c_N_137), .C(row[2]), .D(VSYNC_c_N_138), .Z(VSYNC_c));
    defparam VSYNC_c_I_0.INIT = "0xfbff";
    FA2 horizontal_33_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(col[9]), 
        .D0(n759), .CI0(n759), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n1469), .CI1(n1469), .CO0(n1469), .S0(col_9__N_31[9]));
    defparam horizontal_33_add_4_11.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_11.INIT1 = "0xc33c";
    FA2 add_7_add_5_9 (.A0(GND_net), .B0(row[7]), .C0(GND_net), .D0(n746), 
        .CI0(n746), .A1(GND_net), .B1(row[8]), .C1(GND_net), .D1(n1484), 
        .CI1(n1484), .CO0(n1484), .CO1(n748), .S0(row_9__N_1[7]), .S1(row_9__N_1[8]));
    defparam add_7_add_5_9.INIT0 = "0xc33c";
    defparam add_7_add_5_9.INIT1 = "0xc33c";
    FA2 horizontal_33_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(col[7]), 
        .D0(n757), .CI0(n757), .A1(GND_net), .B1(GND_net), .C1(col[8]), 
        .D1(n1466), .CI1(n1466), .CO0(n1466), .CO1(n759), .S0(col_9__N_31[7]), 
        .S1(col_9__N_31[8]));
    defparam horizontal_33_add_4_9.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[7]));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[6]));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[5]));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[4]));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[3]));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[2]));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[1]));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@11(24[9],24[12])" *) LUT4 i3_4_lut (.A(row[5]), 
            .B(row[8]), .C(row[7]), .D(row[6]), .Z(get_row_4__N_117));
    defparam i3_4_lut.INIT = "0xfffe";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0 (.D(col_9__N_31[9]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[9]));
    defparam col_9__I_0.REGSET = "RESET";
    defparam col_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_0 (.D(row_9__N_1[9]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[9]));
    defparam row_9__I_0.REGSET = "RESET";
    defparam row_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[8]));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[7]));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    FA2 horizontal_33_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(col[5]), 
        .D0(n755), .CI0(n755), .A1(GND_net), .B1(GND_net), .C1(col[6]), 
        .D1(n1463), .CI1(n1463), .CO0(n1463), .CO1(n757), .S0(col_9__N_31[5]), 
        .S1(col_9__N_31[6]));
    defparam horizontal_33_add_4_7.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_7.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[6]));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[5]));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[4]));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C)))" *) LUT4 i1_3_lut (.A(col[7]), .B(col[5]), 
            .C(col[6]), .Z(n71));
    defparam i1_3_lut.INIT = "0xfefe";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=92, LSE_LCOL=15, LSE_RCOL=18, LSE_LLINE=67, LSE_RLINE=67, lineinfo="@10(26[2],38[9])" *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), 
            .SP(col_0__N_50), .CK(clk), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))", lineinfo="@10(26[2],38[9])" *) LUT4 i1_2_lut_adj_28 (.A(row[9]), 
            .B(n575), .Z(row_0__N_30));
    defparam i1_2_lut_adj_28.INIT = "0x8888";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut (.A(col[9]), 
            .B(row_0__N_30), .C(n71), .D(col[8]), .Z(col_0__N_50));
    defparam i1_4_lut.INIT = "0xeccc";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    FA2 add_7_add_5_7 (.A0(GND_net), .B0(row[5]), .C0(GND_net), .D0(n744), 
        .CI0(n744), .A1(GND_net), .B1(row[6]), .C1(GND_net), .D1(n1481), 
        .CI1(n1481), .CO0(n1481), .CO1(n746), .S0(row_9__N_1[5]), .S1(row_9__N_1[6]));
    defparam add_7_add_5_7.INIT0 = "0xc33c";
    defparam add_7_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(!(A+!(B (D)+!B !(C))))", lineinfo="@11(24[9],24[12])" *) LUT4 i486_4_lut (.A(col[7]), 
            .B(row[9]), .C(VSYNC_c_N_137), .D(n575), .Z(n581));
    defparam i486_4_lut.INIT = "0x4501";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 i22_4_lut (.A(n581), 
            .B(n71), .C(col[8]), .D(RGB_c_1_N_132), .Z(n23));
    defparam i22_4_lut.INIT = "0xca0a";
    (* lut_function="(!(A (B (C))+!A !(B+(C))))", lineinfo="@10(45[21],45[59])" *) LUT4 i29_3_lut (.A(col[4]), 
            .B(col[6]), .C(col[5]), .Z(HSYNC_c_N_135));
    defparam i29_3_lut.INIT = "0x7e7e";
    FA2 add_7_add_5_5 (.A0(GND_net), .B0(row[3]), .C0(GND_net), .D0(n742), 
        .CI0(n742), .A1(GND_net), .B1(row[4]), .C1(GND_net), .D1(n1478), 
        .CI1(n1478), .CO0(n1478), .CO1(n744), .S0(row_9__N_1[3]), .S1(row_9__N_1[4]));
    defparam add_7_add_5_5.INIT0 = "0xc33c";
    defparam add_7_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A+!(B (C (D))))", lineinfo="@10(45[10],45[69])" *) LUT4 col_8__I_0 (.A(col[8]), 
            .B(col[9]), .C(HSYNC_c_N_135), .D(col[7]), .Z(HSYNC_c));
    defparam col_8__I_0.INIT = "0xbfff";
    FA2 add_7_add_5_3 (.A0(GND_net), .B0(row[1]), .C0(GND_net), .D0(n740), 
        .CI0(n740), .A1(GND_net), .B1(row[2]), .C1(GND_net), .D1(n1475), 
        .CI1(n1475), .CO0(n1475), .CO1(n742), .S0(row_9__N_1[1]), .S1(row_9__N_1[2]));
    defparam add_7_add_5_3.INIT0 = "0xc33c";
    defparam add_7_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(A (C)+!A (B+((D)+!C)))", lineinfo="@11(25[9],25[12])" *) LUT4 i177_4_lut (.A(col[7]), 
            .B(col[5]), .C(col[8]), .D(col[6]), .Z(RGB_c_1_N_133));
    defparam i177_4_lut.INIT = "0xf5e5";
    FA2 add_7_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(row[0]), .C1(VCC_net), .D1(n1472), .CI1(n1472), .CO0(n1472), 
        .CO1(n740), .S1(row_9__N_1[0]));
    defparam add_7_add_5_1.INIT0 = "0xc33c";
    defparam add_7_add_5_1.INIT1 = "0xc33c";
    FA2 horizontal_33_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(col[3]), 
        .D0(n753), .CI0(n753), .A1(GND_net), .B1(GND_net), .C1(col[4]), 
        .D1(n1460), .CI1(n1460), .CO0(n1460), .CO1(n755), .S0(col_9__N_31[3]), 
        .S1(col_9__N_31[4]));
    defparam horizontal_33_add_4_5.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_5.INIT1 = "0xc33c";
    FA2 horizontal_33_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(col[1]), 
        .D0(n751), .CI0(n751), .A1(GND_net), .B1(GND_net), .C1(col[2]), 
        .D1(n1457), .CI1(n1457), .CO0(n1457), .CO1(n753), .S0(col_9__N_31[1]), 
        .S1(col_9__N_31[2]));
    defparam horizontal_33_add_4_3.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_3.INIT1 = "0xc33c";
    FA2 horizontal_33_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(col[0]), .D1(n1454), .CI1(n1454), 
        .CO0(n1454), .CO1(n751), .S1(col_9__N_31[0]));
    defparam horizontal_33_add_4_1.INIT0 = "0xc33c";
    defparam horizontal_33_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B (D))+!A (B (C (D))))" *) LUT4 i1_4_lut_adj_29 (.A(row[0]), 
            .B(row[2]), .C(row[1]), .D(row[3]), .Z(n225));
    defparam i1_4_lut_adj_29.INIT = "0xc800";
    (* lut_function="(A+(B+(C)))", lineinfo="@11(24[9],24[12])" *) LUT4 i2_3_lut (.A(n225), 
            .B(get_row_4__N_117), .C(row[4]), .Z(n575));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut_adj_30 (.A(row[5]), 
            .B(row[8]), .C(row[7]), .D(row[6]), .Z(VSYNC_c_N_137));
    defparam i3_4_lut_adj_30.INIT = "0x8000";
    (* lut_function="(A (B (C))+!A (B+!(C)))", lineinfo="@11(24[9],24[12])" *) LUT4 i481_3_lut (.A(VSYNC_c_N_137), 
            .B(n575), .C(row[9]), .Z(RGB_c_1_N_132));
    defparam i481_3_lut.INIT = "0xc5c5";
    (* lut_function="(A (B (C (D))+!B (C)))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_1_I_0 (.A(RGB_c_1_N_132), 
            .B(col[9]), .C(fruit_1_RGB[1]), .D(RGB_c_1_N_133), .Z(RGB_c_1));
    defparam RGB_c_1_I_0.INIT = "0xa020";
    FA2 add_7_add_5_11 (.A0(GND_net), .B0(row[9]), .C0(GND_net), .D0(n748), 
        .CI0(n748), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1487), 
        .CI1(n1487), .CO0(n1487), .S0(row_9__N_1[9]));
    defparam add_7_add_5_11.INIT0 = "0xc33c";
    defparam add_7_add_5_11.INIT1 = "0xc33c";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_5_I_0_4_lut (.A(RGB_c_1_N_132), 
            .B(n23), .C(col[9]), .D(fruit_1_RGB[5]), .Z(RGB_c_5));
    defparam RGB_c_5_I_0_4_lut.INIT = "0xca00";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_4_I_0_4_lut (.A(RGB_c_1_N_132), 
            .B(n23), .C(col[9]), .D(fruit_1_RGB[4]), .Z(RGB_c_4));
    defparam RGB_c_4_I_0_4_lut.INIT = "0xca00";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_0_I_0_4_lut (.A(RGB_c_1_N_132), 
            .B(n23), .C(col[9]), .D(fruit_1_RGB[0]), .Z(RGB_c_0));
    defparam RGB_c_0_I_0_4_lut.INIT = "0xca00";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_3_I_0_4_lut (.A(RGB_c_1_N_132), 
            .B(n23), .C(col[9]), .D(fruit_1_RGB[3]), .Z(RGB_c_3));
    defparam RGB_c_3_I_0_4_lut.INIT = "0xca00";
    (* lut_function="(A (B (D)+!B !(C+!(D)))+!A (B (C (D))))", lineinfo="@11(25[9],25[12])" *) LUT4 RGB_c_2_I_0_4_lut (.A(RGB_c_1_N_132), 
            .B(n23), .C(col[9]), .D(fruit_1_RGB[2]), .Z(RGB_c_2));
    defparam RGB_c_2_I_0_4_lut.INIT = "0xca00";
    (* lut_function="(A+(B+(C)))", lineinfo="@10(26[2],38[9])" *) LUT4 row_2__I_0_3_lut (.A(row[9]), 
            .B(get_row_4__N_117), .C(row[2]), .Z(get_row[2]));
    defparam row_2__I_0_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))", lineinfo="@10(26[2],38[9])" *) LUT4 row_0__I_0_3_lut (.A(row[9]), 
            .B(get_row_4__N_117), .C(row[0]), .Z(get_row[0]));
    defparam row_0__I_0_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))", lineinfo="@10(26[2],38[9])" *) LUT4 row_3__I_0_3_lut (.A(row[9]), 
            .B(get_row_4__N_117), .C(row[3]), .Z(get_row[3]));
    defparam row_3__I_0_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))", lineinfo="@10(26[2],38[9])" *) LUT4 row_1__I_0_3_lut (.A(row[9]), 
            .B(get_row_4__N_117), .C(row[1]), .Z(get_row[1]));
    defparam row_1__I_0_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C)))", lineinfo="@10(26[2],38[9])" *) LUT4 get_row_4__I_0_3_lut (.A(get_row_4__N_117), 
            .B(row[9]), .C(row[4]), .Z(get_row[4]));
    defparam get_row_4__I_0_3_lut.INIT = "0xfefe";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net), 
            .CK(clk), .SR(col_0__N_50), .Q(col[8]));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input external_osc_c, output ext_osc_test_c, 
            output clk);
    
    (* is_clock=1, lineinfo="@11(8[3],8[15])" *) wire external_osc_c;
    (* is_clock=1, lineinfo="@11(12[3],12[15])" *) wire ext_osc_test_c;
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    
    (* lineinfo="@2(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            external_osc_c, ext_osc_test_c, clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input external_osc_c, output ext_osc_test_c, output clk);
    
    (* is_clock=1, lineinfo="@11(8[3],8[15])" *) wire external_osc_c;
    (* is_clock=1, lineinfo="@11(12[3],12[15])" *) wire ext_osc_test_c;
    (* is_clock=1, lineinfo="@11(21[9],21[12])" *) wire clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(external_osc_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(ext_osc_test_c), 
            .OUTGLOBAL(clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule
